@page "/DemoLearning/blazorjs"
@inject IJSRuntime _JSRuntime; 

<h3>BlazorJS</h3>

<div>
    <button class="btn btn-primary" @onclick="Confirmbtn">Comfirm</button>
    <button class="btn btn-success" @onclick="ToastrSuccess">success</button>
    <button class="btn btn-danger" @onclick="ToastrFailure">Comfirm</button>

</div>
@code {
    private string confirmMSG = "Hi, this is confirmation msg!";
    private async Task Confirmbtn()
    {
        await _JSRuntime.InvokeAsync<bool>("confirm", confirmMSG);
    }
    private async Task ToastrSuccess()
    {
        await _JSRuntime.ToastrSuccess("success");
    }
    private async Task ToastrFailure()
    {
        await _JSRuntime.ToastrFalure("error");
    }
}
